.table__container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.table__filter {
  min-height: 64px;
  padding: 8px 24px 0;
  background-color: #fafafa;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
